.service-section{
    width: 100vw;
    height: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background: #F9F1E7;
}

.service-wrapper{
    width: 80%;
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}

.service-content{
    display: flex;
    align-items: center;
    gap: 10px;
}

.service-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
}

#service-title{
    font-size: 25px;
    font-weight: 600;
    text-align: left;
}

#service-detail{
    font-size: 18px;
    font-weight: 500;
    color: #898989;
    text-align: left;
}

@media only screen and (max-width:1024px) {
    #service-title{
        font-size: 16px;
    }

    #service-detail{
        font-size: 16px;
    }

    .service-content img{
        width: 50px;
    }
}

@media only screen and (max-width:767px){
    .service-wrapper{
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    }
}

@media only screen and (max-width:400px){
    .service-wrapper{
        grid-template-columns: 1fr;
    }
}