.popup-product-section{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-product-BG{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: -1;
}

.popup-product-container{
    position: relative;
    width: 1000px;
    height: 460px;
    padding: 20px;
    background: #ffffff;
    border-radius: 4px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.close{
    position: absolute;
    top: 6px;
    right: 6px;
    width: 30px;
    height: 30px;
    font-size: 30px;
    cursor: pointer;
}

.popup-product-img-wrap{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}

.popup-product-img-wrap button{
    height: 50px;
    width: 50px;
    font-size: 40px;
    background: none;
    margin: 0;
    padding: 0;
}

.popup-product-img-wrap img{
    width: 240px;
    height: 100%;
    object-fit: contain;
    display: block;
}

.popup-product-content{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}

.popup-product-name{
    font-size: 30px;
    text-align: left;
    margin-bottom: 10px;
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

.popup-product-name::-webkit-scrollbar{
    width: 5px;
}

.popup-product-price{
    font-size: 20px;
    text-align: left;
    margin-bottom: 20px;
}

.popup-product-detail{
    color: #8a8989;
    text-align: left;
    margin-bottom: 30px;
    height: 120px;
    overflow-x: hidden;
    overflow-y: auto;
    direction: rtl;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

.popup-product-detail::-webkit-scrollbar{
    width: 5px;
}

.popup-product-quantity{
    /* margin-left: 20%; */
    /* width: 100%; */
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    max-width: 150px;
}

.popup-product-quantity button{
    width: 100%;
    padding: 8px 14px;
    color: black;
    font-size: 20px;
    background: #e1e1e1;
    margin: 0;
    border: 1px solid rgb(144, 144, 144);
    border-radius: 0;
}

.popup-product-quantity #quantity-show{
    width: 100%;
    padding: 8px 14px;
    color: black;
    text-align: center;
    margin: 0;
    border-top: 1px solid rgb(144, 144, 144);
    border-right: 0;
    border-bottom: 1px solid rgb(144, 144, 144);
    border-left: 0;
    border-radius: 0;
}

.popup-product-quantity #quantity-show:focus{
    outline: none;
}

.popup-product-btn{
    margin-top: 20px;
    /* margin-left: 20%; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* gap: 10px; */
}

.popup-product-btn button{
    width: 90%;
    padding: 10px 0;
}
