.footer-section{
    width: 100vw;
    height: 110px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: #F9F1E7;
}

.footer-wrapper{
    width: 80%;
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    gap: 12px;
}

.box1{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.logo{
    font-size: 30px;
    font-weight: 700;
    color: black;
}

.address{
    font-size: 16px;
    font-weight: 500;
    color: #898989;
    text-align: left;
}

@media only screen and (max-width:767px){
    .logo{
        font-size: 26px;
    }

    .address{
        font-size: 12px;
    }

    .copy-right{
        font-size: 12px;
    }
}